
body {
  /* background-image: url("images/bg.svg"); */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 375px;
  margin: 10px auto;
  padding: 0;
}

.navbar {
  display: flex;
  width: 20.4375rem;
  background-color: white;
  justify-content: space-between;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

.menu-icon {
  align-self: center;
}

.logo {
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
}

.container {
  display: flex;
  flex-flow: column wrap;
  width: 23.4375rem;
  background-image: url('images/bg.svg');
  background-repeat: no-repeat;

  /* background-attachment: fixed; */
  background-position: center;
}

.head-title {
  width: 20.4375rem;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-weight: bold;
  font-size: 2rem; /* 40px */
  line-height: 3.25rem; /* 52px */
  margin: 1.5rem auto;
}

.body-container {
  width: 20.4375rem;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  text-align: justify;
  font-weight: normal;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  margin: 0 auto;
}

.contact {
  width: 20.4375rem;
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  font-weight: 500;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  margin: 2rem auto 1rem;
}

.contact-list {
  width: 20.4375rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
  line-height: 1.5rem; /* 24px */
  margin: 0 auto;
}

.contact-link {
  padding-right: 1.5rem;
}
