body {
  margin: 10px auto;
  background-color: #f7f7f9;
}

.navbar-mb {
  display: flex;
  flex-flow: row wrap;
  max-width: 23.4375rem;
  padding: 0;
  justify-content: space-between;
  margin: 0 auto;
}

.navbar-desk {
  display: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: 0.5;
}

a:active {
  text-decoration: underline;
  opacity: 0.2;
}

.menu-icon {
  align-self: center;
}

.modalm {
  background-color: #6070ff;
  display: none;
  position: fixed;
  margin-top: -5rem;
  margin-bottom: 0;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  opacity: 0.9;
  mix-blend-mode: multiply;
}

.modal-btn {
  border: none;
}

.modal-container {
  width: 90%;
  margin: 1rem auto;
}

.modal-list {
  list-style-type: none;
  padding: 2rem 0.75rem;
}

.menu-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  color: #fff;
  line-height: 4rem;
}

.close {
  float: right;
  max-width: 2.5rem;
  max-height: 2.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
}

.head-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  max-width: 23.4375rem;
  margin: 10px auto;
  padding: 0 1rem;
  background-image: url('images/bg.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.head-title {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3.25rem;
  margin: 4rem auto 1.5rem;
}

.body-container {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  text-align: justify;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 auto;
}

.contact {
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 2rem 0 1rem;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
  line-height: 1.5rem;
  margin: 1rem 0;
}

.contact-link {
  padding-right: 1.5rem;
}

.contact-link > img:hover {
  transform: scale(1.2) translate(0.3rem, -0.3rem);
  -webkit-transform: scale(1.2) translate(0.3rem, -0.3rem);
  -moz-transform: scale(1.2) translate(0.3rem, -0.3rem);
  -ms-transform: scale(1.2) translate(0.3rem, -0.3rem);
  -o-transform: scale(1.2) translate(0.3rem, -0.3rem);
}

.mid-container-desk {
  display: none;
}

/* Middle Section: Grid and FlexBox Layout */

.mid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  gap: 4rem;
}

.work-card {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: flex-start;
  background-color: #fff;
  width: 20.4375rem;
  margin: 0 auto;
  box-shadow: 0 0 0 1px #dfe1e6 inset;
  border-radius: 1rem;
}

.mb-content {
  max-width: 24rem;
  margin: 0 auto;
}

.ex-margin {
  margin-bottom: 1rem;
}

.card-image {
  margin: 1rem auto;
}

.card-head {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #172b4d;
  margin: 0 auto 1rem 1rem;
}

.card-intro-list {
  display: flex;
  justify-content: flex-start;
  list-style-type: disc;
  padding-left: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #7a8691;
  margin: 0 auto 0 1rem;
}

.card-list-first-child {
  color: #344563;
  list-style-type: none;
}

.card-list-item {
  padding-right: 2rem;
}

.card-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  color: #344563;
  margin: 1rem 1rem;
}

.card-lang-list {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #6070ff;
  margin: 0 1rem 1rem;
}

.card-lang-list-item {
  background-color: #ebebff;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  margin-right: 0.5rem;
}

.card-button-link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  text-align: center;
  width: 40%;
  padding: 0.75rem;
  margin: 1rem 1rem;
  border: 1px solid #6070ff;
  color: #396df2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.card-button-link-mdl {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  text-align: center;
  max-width: 40%;
  padding: 0.5rem;
  margin: 0;
  border: 1px solid #6070ff;
  color: #396df2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* About Myself */

.about-myself {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  max-width: 23.4375rem;
  background-color: #fff;
  margin: 10px auto;
  padding: 0 1rem;
  -webkit-border-radius: 0 50px 0 0;
  -moz-border-radius: 0 50px 0 0;
  -ms-border-radius: 0 50px 0 0;
  -o-border-radius: 0 50px 0 0;
  border-radius: 0 50px 0 0;
}

.about-title {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3.25rem;
}

.about-button-link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  text-align: center;
  width: 45%;
  padding: 0.75rem;
  margin: 1rem 0;
  border: 1px solid #6070ff;
  color: #396df2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.about-btn {
  margin-top: 2rem;
}

.about-category {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  justify-content: space-between;
  margin: 0 1rem;
  list-style-type: none;
}

.about-li {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #000;
}

.about-icon {
  align-self: center;
}

.about-language {
  display: flex;
  flex-flow: column wrap;
  list-style-type: none;
  padding: 0;
}

.about-lang-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  color: #253858;
  background-color: #f7f7f9;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem;
}

.about-last-part {
  margin-top: 2rem;
}

.button:link {
  text-decoration: none;
  opacity: 1;
}

.button:visited {
  text-decoration: none;
  opacity: 1;
}

.button:hover {
  background-color: #6070ff;
  color: #fff;
  opacity: 1;
}

.button:active {
  background-color: #2230d2;
  color: #fff;
  opacity: 1;
}

.button:disabled {
  border-color: #c1c7d0;
  color: #c1c7d0;
  opacity: 1;
}

/* Contact-me */

.contact-me {
  display: flex;
  flex-flow: column wrap;
  max-width: 25.4375rem;
  margin: 0 auto;
  background-color: #6070ff;
  -webkit-border-radius: 50px 0 0 0;
  -moz-border-radius: 50px 0 0 0;
  -ms-border-radius: 50px 0 0 0;
  -o-border-radius: 50px 0 0 0;
  border-radius: 50px 0 0 0;
}

.contact-footer {
  background-image: url('images/bg-contact-me/contact-me-shapes.svg');
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.contact-head {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.footer-h {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #fff;
}

.footer-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.75rem;
  color: #ebebff;
  padding: 1rem;
}

.footer-form {
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  margin: 1rem auto;
  padding: 0;
}

input {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  margin: 0.5rem 0 !important;
  padding: 0.75rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #172b4d;
  border-style: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

textarea {
  display: inherit;
  justify-content: center;
  margin: 0.5rem 0 2rem;
  padding: 0.75rem;
  min-height: 5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #172b4d;
  border-style: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.footer-button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  text-align: center;
  width: 45%;
  padding: 0.75rem;
  margin: 0 0 2rem;
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* Desktop Media Query */

@media screen and (min-width: 768px) {
  .navbar-mb {
    display: none;
  }

  .navbar-desk {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    background-color: #fff;
    width: 100vw;
    padding: 0 10vw;
    justify-content: space-between;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .nav-list li {
    padding: 0 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #344563;
  }

  .desk-container-width {
    width: 64%;
  }

  .head-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    max-width: 100vw;
    margin: 0 auto 1rem;
    background-color: #fff;
    background-image: url('images/desktop-bg/Header-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-border-radius: 0 0 0 50px;
    -moz-border-radius: 0 0 0 50px;
    -ms-border-radius: 0 0 0 50px;
    -o-border-radius: 0 0 0 50px;
    border-radius: 0 0 0 50px;
  }

  .head-title {
    padding-top: 5rem;
  }

  .mid-container {
    display: none;
  }

  .mid-container-desk {
    display: grid;
    grid-template-columns: auto;
    gap: 4rem;
    background-color: #f4f5f7;
    margin: 2rem auto;
    padding: 1rem;
    align-self: center;
  }

  .work-card-desk {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border-radius: 0.5rem;
  }

  .card-img-container-desk {
    width: 40vw;
    padding: 1rem;
  }

  .card-img-desk {
    max-width: 40vw;
  }

  .card-text {
    max-width: 35vw;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    margin-top: 1rem;
  }

  .about-myself {
    display: grid;
    grid-template-columns: 2fr 3fr;
    box-sizing: border-box;
    max-width: 100vw;
    padding: 3rem;
  }

  .about-first-part {
    padding: 0 0.75rem;
  }

  .about-last-part {
    padding: 0 0.75rem;
  }

  .about-language {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
  }

  .about-li {
    color: #344563;
  }

  .about-lang-list {
    flex-flow: column wrap;
  }

  .contact-me {
    max-width: 100vw;
    margin-top: -10px;
  }

  .footer-h {
    max-width: 33%;
  }

  .footer-p {
    max-width: 33%;
  }

  .footer-form {
    max-width: 33%;
  }

  input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

  textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

  .footer-button {
    margin: 0 auto 2rem;
  }
}

.modal-lang-list {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ebecf0;
  padding-bottom: 1.5rem;
}

.no-border-bottom {
  border-bottom: none !important;
}

.card-modal-desk {
  width: 100%;
  margin: 1rem auto;
}

.modal-dialog {
  max-width: 80% !important;
}

.card-grid-btn {
  max-width: 40%;
  font-size: smaller;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  line-height: 1rem;
  letter-spacing: 0.03rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
  border: 1px solid #6070ff;
  color: #396df2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.card-paragraph-desk {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: smaller;
  text-align: justify;
  line-height: 1.5rem;
  color: #344563;
}

.border-bottom {
  border-bottom: 1px solid #ebecf0;
}

.width-90 {
  max-width: 90%;
}
