
body {
  width: 20.4375rem;
  margin: 10px auto;
  background-color: #f7f7f9;

}

.navbar {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  justify-content: space-between;
  margin: 0 1rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: .5;
}

a:active {
  text-decoration: underline;
  opacity: .2;
}

.menu-icon {
  align-self: center;
}

.logo {
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
}

.head-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
  padding: 0 1rem;
  background-image: url('images/bg.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.head-title {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-weight: bold;
  font-size: 2rem; /* 40px */
  line-height: 3.25rem; /* 52px */
  margin: 4rem auto 1.5rem;
}

.body-container {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  text-align: justify;
  font-weight: normal;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  margin: 0 auto;
}

.contact {
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  font-weight: 500;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  margin: 2rem 0 1rem;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
  line-height: 1.5rem; /* 24px */
  margin: 1rem 0;
}

.contact-link {
  padding-right: 1.5rem;
}
